<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <app-text-input [label]="'Display Name'"
                      formControlName="displayName"></app-text-input>

      <app-text-input [label]="'Email Addres'"
                      formControlName="email"></app-text-input>
      <app-text-input [label]="'Password'"
                      [type]="'password'"
                      formControlName="password"></app-text-input>

      <ul *ngIf="errors" class="text-danger list-unstyled">
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>

      <button class="btn btn-lg btn-primary btn-block"
              type="submit">
        Register
      </button>
    </form>
  </div>
</div>
