<header>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <img [routerLink]="['/']"
           alt="logo"
           class="navbar-brand"
           src="/assets/logo.png"
           style="max-height: 70px"/>
      <button (click)="toggle()"
              [attr.aria-expanded]="isExpanded"
              button
              class="navbar-toggler"
              data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{ show: isExpanded }"
           class="collapse navbar-collapse"
           id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation">
            <a [routerLinkActiveOptions]="{ exact: true }"
               [routerLink]="['/']"
               class="nav-link"
               routerLinkActive="router-link-active">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a [routerLink]="['/shop']"
               class="nav-link"
               routerLinkActive="router-link-active">Shop</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link"
               routerLink="/test-error"
               routerLinkActive="active">Errors</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="position-relative" routerLink="/basket">
              <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
              <div *ngIf="basket$ | async" class="cart-no">
                {{ (basket$ | async).items.length }}
              </div>
            </a>
          </li>
        </ul>
        <ng-container *ngIf="(currentUser$ | async) === null">
          <span class="navbar-text actions">
            <a class="btn btn-light action-button"
               role="button"
               routerLink="/account/login">login</a>
          </span>
          <span class="navbar-text actions">
            <a class="btn btn-light action-button"
               role="button"
               routerLink="/account/register">Sign up</a>
          </span>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          <div class="dropdown ml-3 mr-5" dropdown>
            <a class="dropdown-toggle" dropdownToggle style="cursor: pointer">
              <strong>Welcome {{ (currentUser$ | async).displayName }}</strong>
            </a>
            <div *dropdownMenu
                 class="dropdown-menu dropdow-menu-right"
                 style="cursor: pointer">
              <a class="dropdown-item d-flex align-items-center py-2"
                 routerLink="/basket">
                <i class="fa fa-shopping-cart mr-3"></i> View Basket
              </a>
              <a class="dropdown-item d-flex align-items-center py-2"
                 routerLink="/orders">
                <i class="fa fa-history mr-3"></i> View Orders
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()"
                 class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-sign-out mr-3"></i> Logout
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
