<header>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <img class="navbar-brand"
           src="/assets/logo.png"
           style="max-height: 70px"
           alt="logo"
           [routerLink]="['/']"/>
      <button button
              data-toggle="collapse"
              class="navbar-toggler"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           id="navcol-1"
           [ngClass]="{ show: isExpanded }">
        <ul class="nav navbar-nav ml-auto">
          <li role="presentation" class="nav-item">
            <a class="nav-link"
               [routerLink]="['/']"
               routerLinkActive="router-link-active"
               [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link"
               [routerLink]="['/shop']"
               routerLinkActive="router-link-active">Shop</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link"
               routerLink="/test-error"
               routerLinkActive="active">Errors</a>
          </li>
          <li role="presentation" class="nav-item">
            <a routerLink="/basket" class="position-relative">
              <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
              <div *ngIf="basket$ | async" class="cart-no">
                {{ (basket$ | async).items.length }}
              </div>
            </a>
          </li>
        </ul>
        <ng-container *ngIf="(currentUser$ | async) === null">
          <span class="navbar-text actions">
            <a routerLink="/account/login"
               class="btn btn-light action-button"
               role="button">login</a>
          </span>
          <span class="navbar-text actions">
            <a routerLink="/account/register"
               class="btn btn-light action-button"
               role="button">Sign up</a>
          </span>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          <div class="dropdown ml-3 mr-5" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
              <strong>Welcome {{ (currentUser$ | async).displayName }}</strong>
            </a>
            <div class="dropdown-menu dropdow-menu-right"
                 style="cursor: pointer"
                 *dropdownMenu>
              <a routerLink="/basket"
                 class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-shopping-cart mr-3"></i> View Basket
              </a>
              <a routerLink="/orders"
                 class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-history mr-3"></i> View Orders
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()"
                 class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-sign-out mr-3"></i> Logout
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
