<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <section>
        <ng-container *ngIf="types && brands">
          <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
          <select (change)="onSortSelected($event.target.value)"
                  class="custom-select mb-4">
            <option *ngFor="let sort of sortOptions" [value]="sort.value">
              {{ sort.name }}
            </option>
          </select>

          <h5 class="text-warning ml-3">Brands</h5>
          <ul class="list-group my-3">
            <li (click)="onBrandSelected(brand.id)"
                *ngFor="let brand of brands"
                [class.active]="brand.id === this.shopParams.brandId"
                [value]="brand.id"
                class="list-group-item">
              {{ brand.name }}
            </li>
          </ul>
          <h5 class="text-warning ml-3">Types</h5>
          <ul class="list-group my-3">
            <li (click)="onTypeSelected(type.id)"
                *ngFor="let type of types"
                [class.active]="type.id === this.shopParams.typeId"
                [value]="type.id"
                class="list-group-item">
              {{ type.name }}
            </li>
          </ul>
        </ng-container>
      </section>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <section>
        <div class="d-flex justify-content-between align-items-cener pb-2">
          <app-paging-header [pageNumber]="this.shopParams.pageNumber"
                             [pageSize]="this.shopParams.pageSize"
                             [totalCount]="totalCount">
          </app-paging-header>

          <div *ngIf="products" class="form-inline">
            <input #search
                   (keyup.enter)="onSearch()"
                   class="form-control mr-2"
                   placeholder="Search"
                   style="width: 55%;"
                   type="text"/>
            <button (click)="onSearch()" class="btn btn-outline-primary my-2">
              Search
            </button>
            <button (click)="onReset()"
                    class="btn btn-outline-success ml-2 my-2">
              Reset
            </button>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let item of products"
               class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <app-product-item [product]="item"></app-product-item>
          </div>
        </div>

        <div *ngIf="totalCount > 0" class="d-flex justify-content-center">
          <app-pager (pageChanged)="onPageChanged($event)"
                     [pageSize]="shopParams.pageSize"
                     [totalCount]="totalCount"></app-pager>
        </div>
      </section>
    </div>
  </div>
</div>
